<div class="card">
  <div style="color: white; background-color: purple;" class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ '::Menu:AuditLogs' | abpLocalization }}
        </h5>
      </div>
      <div class="text-right col col-md-6"></div>
    </div>
  </div>
  <div  class="card-body">
    <ngx-datatable  [rows]="auditLogs.items" [count]="auditLogs.totalCount" [list]="list" default>
      <ngx-datatable-column  [name]="'HTTP Request'" prop="line.prop" [width]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.httpStatusCode }} {{ row.httpMethod}} {{ row.url }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngFor="let line of auditArr" [name]="line.name | abpLocalization" prop="line.prop" [width]="line.width">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div style="white-space: pre-wrap;" *ngIf="line.label == 'Execution Time'">
            {{ row[line.value] | date: "mm-dd-yyyy" }}
            {{ row[line.value] | date: "HH:mm:ss" }}
          </div>
          <div *ngIf="line.label != ('Execution Time' || 'httpStatusCode' || 'httpMethod')">
            {{ row[line.value] || '-'}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column  [name]="'Exception'" prop="line.prop" [width]="10">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button *ngIf="row.exceptions != null" style="color: white; background-color: purple;" (click)="exceptions(row.exceptions)" class="fas fa-exclamation" mat-raised-button></button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column  [name]="'Actions'" prop="line.prop" [width]="10">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button style="color: white; background-color: purple;" mat-raised-button class="fas fa-sitemap" (click)="actions(row.id)"></button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column  [name]="'Details'" prop="line.prop" [width]="10">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-raised-button style="color: white; background-color: purple;" class="fas fa-info" (click)="details()"></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<abp-modal [options]="{size: 'xl'}" [(visible)]="isExceptionsOpen">
  <ng-template #abpHeader>
    <h3>{{ '::Exceptions' | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    {{ selectedException }}  
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

<abp-modal [options]="{size: 'xl'}"  [(visible)]="isActionsOpen">
  <ng-template #abpHeader>
    <div style="color: purple;" class="fas fa-tree fa-2x"></div>
  </ng-template>

  <ng-template #abpBody>
    <app-audit-log-actions [selectedLogId] = "selectedLogId"></app-audit-log-actions>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

<abp-modal [options]="{size: 'xl'}" [(visible)]="isDetailsOpen">
  <ng-template #abpHeader>
    <h3>{{ '::Details' | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody> </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

