@import "~@fortawesome/fontawesome-free/css/all.css";

.mat-raised-button{
    overflow: hidden;
    height: 40px;
}

.filter-input{
    
    border-color: purple ;
    margin-right: 10px;
}



  .modal-header {
    color: white;
    padding:15px 15px;
    border-bottom:1px solid #eee;
    background: purple;
 }

 .modal-content {
   border-radius: 1.3rem ;
 }

  .close {
    color: pink;
  }

  .close:hover {
    color: white;
  }

  

  


