@import "~@fortawesome/fontawesome-free/css/all.css";

.mat-raised-button{
    overflow: hidden;
    height: 40px;
}

.filter-input{
    
    border-color: purple ;
    margin-right: 10px;
}

.card-body {
    padding: 10px;
}
